$black  = #000000
$white  = #FFFFFF

$alizarin       = #E74C3C
$asbestos       = #7F8C8D
$carrot         = #E67E22
$cloud          = #ECf0F1
$concrete       = #95A5A6
$midnightblue   = #2C3E50
$peterriver     = #3498DB
$silver         = #BDC3C7
$sunflower      = #F1C40F
$turquoise      = #1AAC9C
$wetasphalt     = #34495E